@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


html , body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    height: 100vh ;
    width: 100vw;

}


.navlink{
    color: #909090;
    font-weight:500 ;
}

.navlink:hover{
    color: white;
}

.navlink.active{
    color: #90BA52;
    font-weight: 600;
}

.mob-manu{
    display: None;
}

@media screen  and ( max-width: 767px) {
    .web{
        display: none;
    }
    .mob-manu{
        display: block;
    }

    .Mobile{
        position: absolute;
        top: 80px;
        right: 8%;
        height: 33%;
        background-color: rgb(36, 36, 36);
        width: 200px;
        padding: 28px;
        border-radius: 20px;
        z-index: 100;

    }

    .Mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.off{
    display: none;
}

.on{
    display: block;
}